<!DOCTYPE html>
<html>
<head>
    <title>Store</title>
</head>
<body>
    <p style="font-size:18px;">
        Здравствуйте, @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Спасибо за регистрацию <a href="http://vk.com">на нашем сайте</a>!
    </p>
    <p style="font-size:18px;">
        Пожалуйста, подтвердите создание аккаунта <a href="@ViewBag.Link">link</a>.
    </p>

</body>
</html>
